@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: rgba(18, 18, 20, 1);
  --form-bg-color: rgb(37,36,39);
}


/* HEADER */
.header {
  background-color: var(--main-bg-color);

  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 400;

  margin: 0;
  margin-left: 20px;
  position: absolute;

  max-width: 100px;
  height: calc(100vh);
}

.container {
  position: relative;
  
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  
  height: min-content;

}


.site-logo {
  width: 50px;
  height: 50px;

  border-radius: 100%;
}

.header-icon {
  width: 30px;
  height: 30px;

  padding: 10px;

  border-radius: 100%;
}

.header-item-link {
  text-decoration: none;
  color: white;
}

#logo {
  margin-top: 60px;
  margin-bottom: 20px;
}


/* FORM */
.form-block {
  margin: 80px auto auto;
  padding: 20px 50px;

  background-color: var(--form-bg-color);
  color: #fff;

  height: fit-content;
  border-radius: 20px;
}

/* .form-wrapper {
} */

.form-title {
  font-family:'Inter';
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 50px;
}

.form-textarea {
  padding: 0 20px;

  max-width: 600px;
  min-width: 600px;

  max-height: 400px;
  min-height: 100px;

  background-color: inherit;
  color: inherit;

  border: none;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
  outline: none;

  font-family: 'Inter';
  font-weight: 300;
  font-size: 24px;
}

.form-button {
  display: block;

  margin: 20px auto 40px;
  padding:10px 20px;

  border-radius: 10px;
  border: none;

  background-color: #f2eeee;
  color: var(--main-bg-color);
}
.form-button:hover {
  background-color: #fff;
}

.button-text {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
}

.result-block {
  background-color: #fff;
  color: var(--main-bg-color);

  border-radius: 10px;

  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  margin: 10px auto;
  padding: 10px 20px;
}

.result-block .sep {
  background-color: var(--main-bg-color);
  width: 10px;
  height: 3px;
}

.sentiment-number {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
}

.sentiment-description {
  font-family: 'Inter';
  /* font-style: italic; */
  font-size: 20px;
  font-weight: 400;
}